<td width="60px" style="text-align:center">
	<span><input type="checkbox" data-bind="checked:correct" disabled="disabled"/></span>
</td>
<td>
	<label data-bind="text:answerContent"></label>
</td>
<td width="120px" style="text-align:center">
    <a href="javascript:;" title="<%= t.editAction %>" class="btn-sm btn-primary edit">
    	<span class="glyphicon glyphicon-pencil"></span>
 	</a>
 	&nbsp;
 	<a href="javascript:;" title="<%= t.deleteAction %>" class="btn-sm btn-danger delete">
    	<span class="glyphicon glyphicon-remove"></span>
 	</a> 
</td>
