<td width="30px" align="center">
	<label data-bind="text:id"></label>
</td>
<td>
	<label data-bind="text:name"></label>
</td>
<th width="75px" style="text-align:center">
	<label><%= t.testTemplatesFixed %></label>
</th>
<td width="120px" align="center">
    <a href="javascript:;" title="<%= t.editAction %>" class="btn-sm btn-primary edit">
    	<span class="glyphicon glyphicon-pencil"></span>
 	</a> 
 	&nbsp;
	<a href="javascript:;" title="<%= t.deleteAction %>"class="btn-sm btn-danger delete">
    	<span class="glyphicon glyphicon-remove"></span>
 	</a>
</td>