<img src="images/logo.png" />
<h2><%= t.appName %></h2>
<div class="btn-toolbox">
	<div class="btn-group">
		<a href="javascript:;" class="btn-sm btn-primary categories"><%= t.categories %></a>
		<a href="javascript:;" class="btn-sm btn-primary questions"><%= t.questions %></a>
		<a href="javascript:;" class="btn-sm btn-primary testTemplates"><%= t.testTemplates %></a>
	</div>
	<div class="btn-group pull-right">
		<a href="javascript:;" class="btn-sm btn-danger logout"><%= t.logout %></a>
	</div>
</div>
