      <div class="modal-body">
<form class="form-new-question form-horizontal" role="form">

	<div class="form-group-sm">
	<label for="categoryId"><%= t.category %></label>
    <select id="category-select" class="col-lg-12 form-control">
        	<% collection.each(function(category) { %>
            	<option value='<%= category.get('id') %>'><%= category.get('name') %></option>
        	<% }); %>
    </select>
    </div>
    <div class="form-group-sm">
    	<div class="input-group">
    		<span class="input-group-addon"> <%= t.questionContent %> </span>
    		<input id="content" type="text" class="form-control" data-bind="value:content,events:['keyup']" required="" />
    	</div>
    </div>
	<div class="form-group-sm">
	<label for="tagLabel"><%= t.questionTags %></label>
	<div class="input-group col-lg-12">
    	<input type="text" class="form-control tag-add" id="tag">
    	<a href="javascript:;" class="add-button">
    		<span class="input-group-addon form-control">
    			<i class="glyphicon glyphicon-plus"></i>
	    	</span>
	    </a>
    </div>
    
    </div>
 	<div class="form-group-sm">
	<div class="well tag-checkboxes">
	</div>
	</div>
	
</form>
</div>
